<!-- Medlemslista -->
<%- include('header') %>
<main>
      <section class="pagecontainer">
          <h2>Alla våra medlemmar</h2>
        <div class="allmembercontainer">
            <ul>
                <% allmembers.forEach((member)=>{%>
                    <li><%=member.name%>
                        <a href="/member/<%= member._id %>">se mer..</a></li> 
                <%})%>
            </ul>
        </div>

      </section>
    
</main>
<%- include('footer') %>