<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Style.css">
    <title>Document</title>
</head>
<header class="standardheader">
    <!-- <img src="https://images.unsplash.com/photo-1597113366853-fea190b6cd82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80" alt="" class="headerimgbackground"> -->
    <h1 class="heading">Rubrik</h1>
    <nav class="meny">
    <a href="http://localhost:3000/startpage">Startsidan</a>
    <a href="http://localhost:3000/allmembers">Se alla medlemar</a>
    <a href="http://localhost:3000/newmember">Ny medlem</a>
    </nav>
</header>
<!-- En huvudmeny som länkar till startsidan, medlemslistan och formuläret -->