<!-- Startsidan:
Information om klubbens verksamhet -->
<%- include('header') %>
<main>
    <section class="pagecontainer">
        <h2 >Börja sticka hemma</h2>
        <div class="startpageinfo">
            <p class="startpageP">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda voluptas, commodi ipsa repellat eveniet molestiae quod architecto. Debitis saepe placeat dolores quibusdam ad asperiores quisquam ipsam ut accusantium, earum dolorem?</p>
            <img src="https://wallpaperaccess.com/full/658657.jpg" alt="" class="startpageimg">
        </div>
    </section>
    <section class="pagecontainer">
        <h2>Hitta rätt mönster</h2>
        <div class="startpageinfo">
            <img src="https://wallpaperaccess.com/full/2135518.jpg" alt="" class="startpageimg">
            <p class="startpageP">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et atque amet voluptatibus dolorum qui quibusdam iste eos enim officia, magni aperiam voluptatum placeat nobis hic rerum in, accusamus, sit reprehenderit.</p>
        </div>
        </section>
    <section class="pagecontainer">
        <h2>Ecologist garn</h2>
        <div class="startpageinfo">
        <p class="startpageP">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error suscipit asperiores dolor totam ex dignissimos neque! Pariatur eius iste, in blanditiis provident nihil perspiciatis tempore fugiat, delectus tenetur ut esse!</p>
        <img src="https://images.pexels.com/photos/2062061/pexels-photo-2062061.jpeg?cs=srgb&dl=pexels-surene-palvie-2062061.jpg&fm=jpg" alt="" class="startpageimg">
    </div>
    </section>
</main>
<%- include('footer') %>
