body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a28755;
}
.standardheader{
    background-image: url("https://img5.goodfon.com/wallpaper/nbig/c/47/viazanie-viazanoe-priazha-klubki-spitsy-fon-kriuchki.jpg");
    background-repeat: no-repeat;
    background-size:100% auto;
    width: 100%;
    height: 260px;
    display: flex;
}
.heading{
    color: #6e3125;
    font-size: 120px;
    margin-left: 5%;
}
.meny{
    padding: 20px;
}
.meny a{
    text-decoration: none;
    color: black;
    margin: 10px;
}
.meny a:hover{
    text-decoration: underline;
}
h2{
    color: #6e3125;
    font-size: 40px;
    margin: 10px 0 5px 50px;
}
.pagecontainer{
    margin: 30px auto;
    width: 70%;
}
.startpageinfo{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.startpageP{
    font-size: 17px;
    width: 40%;
}
.startpageimg{
    width: 35%;
    border-radius: 8px;
}
.allmembercontainer{
    width: 80%;
    margin: auto;
}
.newmembercontainer{
    width: 80%;
    margin: auto;
}
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:#6e3125 6px solid;
    width: 50%;
    margin: auto;
    padding: 10px;
}
legend{
    color: #6e3125;
    font-size: 25px;
}
input{
    max-width: 150px;
    margin-bottom: 15px;
}
button{
    background-color: #6e3125;
    color:#a28755;
    font-size: 17px;
    font-weight: 100;
    border-radius: 15px;
    padding: 10px 20px;
    border: #975c33;
    box-shadow: 1px 2px #5a5959;
}
.newmemberBtn{
    margin: 30px 0px;
}
ul{
    list-style: #6e3125;
}
li{
    margin: 10px;
}
li a{
    text-decoration: none;
    color: #6e3125;
}
li a:hover{
    text-decoration: underline;
}
.memberheading{
    display: flex;
    justify-content: space-around;
}
.memberinfo{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
.memberinfo p{
    margin: 5px;
}
.memberBtnContainer{
    display: inline-block;
    position: relative;
    left:60%;
    margin: 10px;
}
.memberBtn{
    margin: 10px;
}
footer{
    background-color: #975c33;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
footer p {
    font-size: 17px;
    color: #6e3125;
    margin: 0%;
}
.footericon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fa{
    margin: 5px;
    font-size: 20px;
}